@import "tailwindcss";

:root {
  --background: #100E12;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #100E12;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #100E12;
  background-image: url('/bg5.png');
  background-size: 108%;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--foreground);
  font-family: Playfair Display, serif;
}

@media (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: 320%;
    background-position: center top;
  }
}

