@import "tailwindcss";

:root {
  --background: #111118;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/bg1.png');
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: Playfair Display, serif;
}

@media (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
  }
}

